@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.topnav {
  background-color: rgb(40, 39, 39);
  overflow: hidden;
}

.topnav a{
  float: left;
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: rgb(77, 77, 77);
  color: yellow;
  margin-left: 2px;
  margin-right: -2px;
}

.homeContainer {
  font-family: 'Lora', serif;
  font-size: x-large;
  font-weight: 700;
}

.homeContainer:hover {
  color: blueviolet;

}
