@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.topnav {
  background-color: rgb(40, 39, 39);
  overflow: hidden;
}

.topnav a{
  float: left;
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
}

.topnav a:hover {
  background-color: rgb(77, 77, 77);
  color: yellow;
  margin-left: 2px;
  margin-right: -2px;
  font-size: 22px;
  padding: 12px 14px;
}

.homeContainer {
  font-family: 'Lora', serif;
  font-size: x-large;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  letter-spacing: 20px;
  height: 500px;

}

.homeContent:hover {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(50, 145, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 400ms;
  font-size: xx-large;

}

.homeContent {
  text-decoration: none;
  color: darkgreen;
  font-size: large;

}

.brand {
  color: antiquewhite;
  float: right;
  text-align: center;
  padding: 14px 16px;
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 8px;
}

.shopContainer {
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 100px;
  margin-right: 100px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  justify-content: space-between;
  margin: 30px;
}



.image {
  height: 200px;
  width: 200px;
}

.image:hover {
  transition: 400ms;
  height: 250px;
  width: 250px;
}

.title, .price {
margin-top: 20px;
font-family: 'Lora', serif;;
}


.title {
font-weight: 700;
}

